/node_modules
/public/hot
/public/storage
/public/temp
/storage/*.key
/vendor
/.idea/
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
/docker-compose.yml
/.env
/horizon.log
/composer.lock
/_ide_helper.php
/public/apidoc

/public/build
/public/fonts
/public/mix-manifest.json
/public/apidoc
/package-lock.json
/resources/js/bootstrap.js