.text-red {
    color: red;
}

.show-image {
    max-width: 100%;
    max-height: 250px;
}

.dateField {

}

.dashboard-image {
    width: 250px;
    height: 250px;
}

.dz-preview {
    margin: 30px !important;
}

.dz-remove {
    margin-top: -120%;
}

#video-duration-section {
    display: none;
}

.proof__list {
    font-size: 0;
    padding-left: 0;
    list-style-type: none;
    margin-left: -20px;
}

.proof__item {
    width: 70%;
}

.proof__title {
    text-align: center;
}

.proof__container {
    text-align: -webkit-center;
    text-align: center;
}

.proof__item img{
    max-width: 100%;
    max-height: 250px;
}

.proof__item video{
    max-width: 100%;
}

.hidden-submit {
    display: none;
}

.dz-image {
    z-index: 6 !important;
}

.dz-details {
    z-index: 8 !important;
}

.dz-progress {
    z-index: 9 !important;
}

.dz-error-message {
    z-index: 9 !important;
}

.dz-success-mark {
    z-index: 7 !important;
}

.dz-error-mark {
    z-index: 7 !important;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.change-proof-status-button {
    width: 100% !important;
}

.line-no-break {
    display: inline-block;
}

.video-format-no-supported {
    display: none;
    color: black !important;
}

.company-type-label {
    font-size: 14px;
    color: white;
}