.text-red {
    color: red;
}

.show-image {
    max-width: 100%;
    max-height: 250px;
}

.dateField {

}

.dashboard-image {
    width: 100%;
}

.dz-preview {
    margin: 30px !important;
}

.dz-remove {
    margin-top: -120%;
}

#video-duration-section {
    display: none;
}